*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: #C0C0C0;
}

body {
    overflow-x: hidden;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

select {
    padding: 10px;
    margin: 10px;
}

select option {
    padding-top: 5px;
}

button {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    
}

.info {
    color: white;
    height: 50px;
    width: 200px;
    display: block;
    background-color: rgb(93, 93, 93);
    border: solid 1px black;
    padding: 5px;
}

.btn {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}
